.raceState{
  margin-bottom: 2vh;
}



.raceItem {
  width: 60vw;
  height: 5vh;
  border: none;
  border-bottom: 6px dotted black;
  border-radius: 9px;
  margin: auto;
  font-family: TypingMachine;
  font-size: 3vh;
}

.snitch {
  position: ;
  height: 5vh;
  width: 3vw;
  z-index:10;
}